<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
        <title>Chat demo</title>
    </head>
    <body>
        <h3 class="idUser"></h3>
        <button onclick="getid()">get id</button><br />
        <label>text: </label><input type="text" class="message" />
        <button onclick="sendMessage()">send</button><br />
        <label>room: </label><input type="text" class="room" />
        <button onclick="joinRoom()">join</button><br />
        <button onclick="addFriend()">add friend</button><br />
        <button onclick="acceptFriend()">accept friend</button><br />
        <button onclick="StartChat()">start chat</button><br />
        <button onclick="EndChat()">end chat</button>
        <div class="messageOutput"></div>

        <fb:login-button
            scope="public_profile,email"
            onlogin="checkLoginState();"
        >
        </fb:login-button>
        <!-- <script src="/socket.io/socket.io.js"></script> -->
        <script>
            const socket = io("http://localhost:3000/");
            socket.on("connection");
            let idUser;

            socket.on("receive-message-from-room", (data) => {
                console.log(data);
                const messageOutput = document.querySelector(".messageOutput");
                const newMessage = document.createElement("h3");
                newMessage.innerHTML = data.name + ": " + data.message;
                messageOutput.appendChild(newMessage);
            });
            socket.on("start-search-stranger", (data) => {
                console.log(data);
            });
            socket.on('chat-end', (data) =>{
                console.log(data)
            })
            socket.on('friend:listen-add-friend', data => {
                console.log(data);
            });
            const sendMessage = () => {
                const messageInput = document.querySelector(".message");
                const roomInput = document.querySelector(".room");
                socket.emit("message:send-message", messageInput.value);
            };

            const joinRoom = () => {
                const roomInput = document.querySelector(".room");
                socket.emit("room:join-room", roomInput.value);
            };

            const getid = () => {
                const id = document.querySelector(".idUser");
                id.innerHTML = socket.id;
                idUser = socket.id;
            };

            const addFriend = () => {
                socket.emit("friend:request-add-friend", "conga@gmail.com", "letuananh2@gmail.com");
            };

            const IaddFriend = {
                fromEmail: "conga@gmail.com",
                dateAt: "2021-10-2",
                toEmail: "letuananh2@gmail.com",
            };
            const acceptFriend = () => {
                socket.emit("friend:accept-request-add-friend", IaddFriend);
            };

            const StartChat = () => {
                console.log("id", idUser);
                const name = Math.round(Math.random() * 10);
                console.log(name);
                socket.emit("message:start-search-stranger", name);
            };

            const EndChat = () =>{
                socket.emit("message:end-chat-stranger");
            }
        </script>
    </body>
</html>
